.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box__aDsQf {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: uzQGKl7hembDiQ */;
}
.box__y14Pf {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__y14Pf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.box__y14Pf > :global(.__wab_flex-container) > *,
.box__y14Pf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__y14Pf {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__y14Pf > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__y14Pf > :global(.__wab_flex-container) > *,
  .box__y14Pf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__qbJ5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.box__qbJ5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__qbJ5 > :global(.__wab_flex-container) > *,
.box__qbJ5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.iconLink__qkhCt:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__jcy8F {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.box__s4Oga {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link___9JSqL {
  color: #535353 /* plasmic-token: jkVHPQEr6ZfyIU */;
}
.root .link___9JSqL:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__szqHy {
  position: relative;
}
.link__o5RiE {
  position: relative;
  color: #535353 /* plasmic-token: jkVHPQEr6ZfyIU */;
}
.root .link__o5RiE:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__ot6C {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__ot6C > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__ot6C > :global(.__wab_flex-container) > *,
.box__ot6C > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__ot6C {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__ot6C > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__ot6C > :global(.__wab_flex-container) > *,
  .box__ot6C > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__c6IwM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__c6IwM > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__c6IwM > :global(.__wab_flex-container) > *,
.box__c6IwM > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__vra6G {
  position: relative;
  font-weight: 700;
}
.link__niW6G {
  position: relative;
  color: #535353 /* plasmic-token: jkVHPQEr6ZfyIU */;
}
.root .link__niW6G:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__kDjzh {
  position: relative;
  color: #535353 /* plasmic-token: jkVHPQEr6ZfyIU */;
}
.root .link__kDjzh:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__vAoR1 {
  position: relative;
  color: #535353 /* plasmic-token: jkVHPQEr6ZfyIU */;
}
.root .link__vAoR1:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__jDxlq {
  position: relative;
  color: #535353 /* plasmic-token: jkVHPQEr6ZfyIU */;
}
.root .link__jDxlq:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__rrGCe {
  position: relative;
  color: #535353 /* plasmic-token: jkVHPQEr6ZfyIU */;
}
.root .link__rrGCe:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__btr07 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__btr07 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__btr07 > :global(.__wab_flex-container) > *,
.box__btr07 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__iVjfN {
  position: relative;
  font-weight: 700;
}
.link__tUr7H {
  position: relative;
  color: #535353 /* plasmic-token: jkVHPQEr6ZfyIU */;
}
.root .link__tUr7H:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__ml7HF {
  position: relative;
  color: #535353 /* plasmic-token: jkVHPQEr6ZfyIU */;
}
.root .link__ml7HF:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__cdmVd {
  position: relative;
  color: #535353 /* plasmic-token: jkVHPQEr6ZfyIU */;
}
.root .link__cdmVd:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__vl7XM {
  position: relative;
  color: #535353 /* plasmic-token: jkVHPQEr6ZfyIU */;
}
.root .link__vl7XM:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__iXk6S {
  position: relative;
  color: #535353 /* plasmic-token: jkVHPQEr6ZfyIU */;
}
.root .link__iXk6S:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__y2G4M {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__y2G4M > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__y2G4M > :global(.__wab_flex-container) > *,
.box__y2G4M > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__hBtV {
  position: relative;
  font-weight: 700;
}
.link__bUbp {
  position: relative;
  color: #535353 /* plasmic-token: jkVHPQEr6ZfyIU */;
}
.root .link__bUbp:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__dTcmI {
  position: relative;
  color: #535353 /* plasmic-token: jkVHPQEr6ZfyIU */;
}
.root .link__dTcmI:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__sze {
  position: relative;
  color: #535353 /* plasmic-token: jkVHPQEr6ZfyIU */;
}
.root .link__sze:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___6Vx9L {
  position: relative;
  color: #535353 /* plasmic-token: jkVHPQEr6ZfyIU */;
}
.root .link___6Vx9L:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__h6LsQ {
  position: relative;
  color: #535353 /* plasmic-token: jkVHPQEr6ZfyIU */;
}
.root .link__h6LsQ:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__xar5N {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.box__xar5N > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__xar5N > :global(.__wab_flex-container) > *,
.box__xar5N > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__l5Dz {
  position: relative;
  font-weight: 700;
}
.box__jJzaB {
  position: relative;
}
.box___8Xi9B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid rgb(228, 230, 235) /* plasmic-token: 4QM1pZKqI */;
}
.textbox {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  min-width: 0;
  border-width: 0px;
}
.button {
  position: relative;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-left-style: solid;
}
.box__dJobm {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: uzQGKl7hembDiQ */;
}
.box__fzIPd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__fzIPd {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__fzIPd > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__fzIPd > :global(.__wab_flex-container) > *,
  .box__fzIPd > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.box__twJpO {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__jV2Ks {
  position: relative;
  color: #535353 /* plasmic-token: jkVHPQEr6ZfyIU */;
  height: auto;
}
.root .link__jV2Ks:hover {
  text-decoration-line: underline;
}
.link___9JDv5 {
  position: relative;
  color: #535353 /* plasmic-token: jkVHPQEr6ZfyIU */;
}
.root .link___9JDv5:hover {
  text-decoration-line: underline;
}
.box__hWxQa {
  position: relative;
  height: auto;
  width: auto;
  display: inline-block;
}
.box__xeA4Y {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__xeA4Y > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__xeA4Y > :global(.__wab_flex-container) > *,
.box__xeA4Y > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.iconLink__lgkFh:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__lpPQd {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__lpPQd:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__vXxy:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__bcRS {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__bcRS:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__q1Xz3:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__t9AHs {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__t9AHs:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
