.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.box___5Ktf {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  max-width: 1600px;
  min-width: 0;
}
.box___5Ktf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box___5Ktf > :global(.__wab_flex-container) > *,
.box___5Ktf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.section__faERf:global(.__wab_instance) {
  position: relative;
}
.box__b38Ek {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__b38Ek > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__b38Ek > :global(.__wab_flex-container) > *,
.box__b38Ek > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__b38Ek {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__b38Ek > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__b38Ek > :global(.__wab_flex-container) > *,
  .box__b38Ek > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.box__nGMtX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.box__nGMtX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.box__nGMtX > :global(.__wab_flex-container) > *,
.box__nGMtX > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__nGMtX {
    width: 100%;
    min-width: 0;
  }
}
.box__pc4R9 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
}
.box__std4 {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
}
.featureCard__qpO23:global(.__wab_instance) {
  position: relative;
}
.svg__o62N {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__sP6W6 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__yq63X:global(.__wab_instance) {
  position: relative;
}
.svg__icw6O {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__un54N {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__oj6S:global(.__wab_instance) {
  position: relative;
}
.svg__k0Od {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__lmmQ5 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.box__miBap {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__miBap {
    width: 100%;
    min-width: 0;
  }
}
.img__eRoSl {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__hMbS {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.box___5NzZq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.box__p19S {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  left: 0px;
  top: 50%;
  height: 50%;
  width: 100%;
  background: rgb(5, 5, 5);
}
.section__n6HoG:global(.__wab_instance) {
  position: relative;
}
.box__lSUpo {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__lSUpo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.box__lSUpo > :global(.__wab_flex-container) > *,
.box__lSUpo > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__coPtJ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__fRod0 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: Rga_Skt-Uo3PHI */;
}
.svg__ukFwT {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__l8Ydb:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__fsqAy {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: Rga_Skt-Uo3PHI */;
}
.svg__lgyh4 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___3B5Iy:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__wnAik {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: Rga_Skt-Uo3PHI */;
}
.svg__iLuzx {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__ftBfO:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__np2P0 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: Rga_Skt-Uo3PHI */;
}
.svg__yoMmy {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__wmR6S:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__lAxyb {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: Rga_Skt-Uo3PHI */;
}
.svg__incxb {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__eFpDd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__aUcVs {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: Rga_Skt-Uo3PHI */;
}
.svg__jxxXp {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.box__lCpjp {
  display: block;
  position: absolute;
  left: 50%;
  top: 95%;
  width: 2px;
  height: 88px;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: uzQGKl7hembDiQ */;
}
.section___76AEh:global(.__wab_instance) {
  position: relative;
}
.box__abDzl {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__abDzl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__abDzl > :global(.__wab_flex-container) > *,
.box__abDzl > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__h1Ld7 {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__zNDl0 {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__zkgxY {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__mpL38 {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__laQDk {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
